/* styles.css */

/* Estilos generales */
body {
    font-family: Arial; color: WHITE ; sans-serif;
    margin: 0;
    padding: 0;
}
h1{

  
    background-color: #0000008f;

}
.contenedor{

    display: flex;  

}
.imagen {

    width: 300px;
    margin-right: 30px ;

    margin-left: 400px ;
    }
    
   
    .text {
        align-self: center;
    }

/* Encabezado */
header {
    background-color: #5e0075ab;
    text-align: center;
    padding: 40px;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #5810ff5e;
    padding: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
 
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Secciones */
section {
    padding: 20px;
}

/* Pie de página */
footer {
    color: beige;
    background-color: #e149ff52;
    text-align: center;
    padding: 10px;

}
img{
    width: 300px;
    margin-right: 350px ;

    margin-left: 300px ;
}
body {
 
    background-image: url(fond.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

   

}
.arboles {
    color: beige;
    background-color: #09ff0052;
    text-align: center;
    padding: 10px;
    margin-bottom:  20px ;
}